{% extends ':Front:tpl_home.html.twig' %}

{% block NavBar %}
    {% include 'QuizzQuizzBundle:Front:NavBar.html.twig' %}
{% endblock %}

{% block body %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ user.name }}
                <small>{{ user.lastname }}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{ path('teacher_home') }}">Acceuil</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Ajout d'étudiant
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-3">
            {{ form_start(form) }}
                {{ form_errors(form) }}

            <label>Nom de l'étudiant</label>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
            <br />
            <label>Prenom de l'étudiant</label>
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
            <br />
            <label>Email de l'étudiant</label>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
            <br />
            <label>Selectionnez une classe :</label>
            {{ form_errors(form.fk_idclass) }}
            {{ form_widget(form.fk_idclass) }}
            <br />
            {{ form_errors(form.Ajout) }}
            {{ form_widget(form.Ajout) }}
            {{ form_end(form) }}
        </div>

        {% if add_box == true %}
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Nom d'utilisateur : </label>
                <div>
                    <p class="form-control-static">{{ login_info.username }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Mot de passe : </label>
                <div>
                    <p class="form-control-static">{{ login_info.password }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- /.row -->

{% endblock %}