<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home_login') }}">LessonQuizz</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <strong>Jean BENOIT</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Hier à 16:32 </p>
                                <p>Salut , tu as le cour sur les contrats de ...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Lire tout les messages.</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Nom de l'alerte <span class="label label-default">Badge d'alerte</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">Tout voir.</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Boite de réception</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i> Déconnexion</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="{{ path('home_login') }}"><i class="fa fa-fw fa-dashboard"></i> Acceuil</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Messagerie</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Statistiques</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-question"></i> QCM <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-home "></i> Sommaire des QCM</a>
                    </li>
                    {% if is_granted('ROLE_STUDENT') %}
                    <li>
                        <a href="{{ path('student_quizzdemo') }}"><i class="fa fa-fw fa-question-circle"></i>QCM demo</a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            {% if is_granted('ROLE_TEACHER') %}
            <li>
                <a href="{{ path('teacher_addstudent') }}"><i class="fa fa-fw fa-user"></i>Ajout élève</a>
            </li>

            <li>
                <a href="{{ path('teacher_addclassroom') }}"><i class="fa fa-fw fa-users"></i>Ajout d'une classe</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-plus-square"></i>Ajouter un QCM</a>
            </li>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('admin_addteacher') }}"><i class="fa fa-fw fa-user"></i>Ajout prof</a>
            </li>
            {% endif %}

            <li>
                <a href="#"><i class="fa fa-fw fa-file"></i> A propos</a>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>